* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #143489, #3a0a48);

}

.sub-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.4);
}

.toolbar {
  justify-content: start;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  padding: 1%;
}

.toolbar-buttons {
  justify-content: start;
  align-items: center;
}

.add-btn {
  width: 100px;
  height: 35px;
  background: #87beff;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-right: 5px;
}

.edit-btn {
  width: 100px;
  height: 35px;
  background: #cbb525;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-right: 5px;
}

.delete-btn {
  width: 100px;
  height: 35px;
  background: red;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.list-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  color: white;
  border: 1px solid white;
}

tr {
  border: 1px solid white;
}

th {
  padding: 1%;
  text-align: center;
  border: 1px solid white;
  text-transform: uppercase;
  font-weight: bold;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  text-transform: capitalize;
}

.th-name {
  min-width: 30vw;
  max-width: 30vw;
}

.th-desc {
  min-width: 35vw;
  max-width: 35vw;
}
