<app-generic-header [title]="title"> </app-generic-header>

<div class="container">
  <br>
  <div class="toolbar">
    <div class="toolbar-buttons">
      <button type="button" class="add-btn" (click)="addCategory()"> Adicionar </button>
      <button type="button" class="edit-btn" (click)="editCategory()"> Editar </button>
      <button type="button" class="delete-btn" (click)="deleteCategory()"> Excluir </button>
    </div>
  </div>

  <div class="sub-container">


    <div class="list-data">
      <table>
        <tr>
          <th class="th-checkbox">
            <input type="checkbox" class="checkbox" (change)="selectAll()">
          </th>
          <th class="th-id" hidden>ID</th>
          <th class="th-name">Nome</th>
          <th class="th-desc">Descrição</th>
        </tr>

        <tr *ngFor="let item of categories">
          <td class="td-checkbox"><input type="checkbox" class="checkbox" (change)="select(item.id)"></td>
          <td hidden>{{item.id}}</td>
          <td class="td-name">{{item.name}}</td>
          <td class="td-desc">{{item.desc}}</td>
        </tr>

      </table>
    </div>
  </div>
</div>

<app-footer-login> </app-footer-login>
