<header>
  <div>
    <a href="/home"> <img src="assets/img/Logo.png" class="logo" alt="Logo"> </a>
  </div>


  <nav class="navbar">
    <button type="button" class="standard-btn" routerLink="/register-category"> Categorias </button>
    <button type="button" class="standard-btn" routerLink="/register-category"> Cursos </button>
    <button type="button" class="standard-btn" routerLink="/register-category"> Videos </button>
    <button type="button" class="standard-btn" routerLink="/register-category"> Certificados </button>

  </nav>

  <nav class="navbar">
    <button class="standard-btn" (click)="logoff()"> Sair </button>
  </nav>

</header>
