* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 120px;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
}

nav a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  margin-left: 60px;
}

nav a:hover {
  text-decoration: underline;
}
