* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background: linear-gradient(90deg, #143489, #3a0a48);
}

.container {
  display: flex;
  min-width: 100%;
  padding: 20px 120px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  margin-left: 60px;
}

nav a:hover {
  text-decoration: underline;
}
