<app-header-video-list> </app-header-video-list>

<div class="container">
  <div class="subtitle">
    <h2>Videos</h2>
  </div>
  <div class="wrapper">
    <div class="card">
      <img src="https://fiapsaccount.blob.core.windows.net/financeflix-images/f0eb8f45-646e-43d5-978a-61922cfe9456.png"
        alt="">
      <div class="card-data">
        <h2>Nome do Video</h2>
        <h3>Descrição</h3>
        <h4>Duração</h4>
        <p>Lançamento</p>
      </div>
    </div>
  </div>

</div>

<app-footer-login> </app-footer-login>
