<app-header-authenticated> </app-header-authenticated>

<div class="container">
  <!-- Barra de pesquisa -->
  <div>
    <form class="search-box" [formGroup]="form">
      <input type="text" placeholder="Pesquisar" formControlName="search" (keydown.enter)="search()">

      <button type="button" (click)="search()" (keydown.enter)="search()"> Pesquisar </button>
    </form>
  </div>

  <div>
    <ul *ngFor='let item of homeList'>

      <!-- Category Name -->
      <h2 class="course-categories">{{item.nome}}</h2>

      <!-- Course Grid -->
      <div class="course-grid">

        <!-- Category Items -->
        <div class="course-item" *ngFor='let course of item.curso'>
          <!-- Course -->
          <div class="title-item" routerLink="/videoList">
            <img class="image-item" src={{course.imagem}} alt="Curso">
            <div class="items">
              <div class="left-side">
                <h2>{{course.nome}}</h2>
                <ul class="infos">
                  <li class="video-qtn"> 3 Videos </li>
                </ul>
                <ul>
                  <li>{{course.descricao}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>

<app-footer-login> </app-footer-login>
