<app-header-authenticated> </app-header-authenticated>

<body>

  <div class="content-fluid">

    <!-- Barra de pesquisa -->
    <form [formGroup]="form">
      <div class="search-box">
        <input type="text" placeholder="Pesquisar" class="input-box" formControlName="search">
        <button type="button" class="search-btn" (click)="find()"> Pesquisar </button>
      </div>
    </form>


    <!-- Course Grid -->
    <div class="course-grid">

      <!-- Category Name -->
      <h2 class="course-categories">Adicionados recentemente</h2>

      <!-- Category Items -->
      <div class="course-items">

        <li *ngFor="let item of cursos">
          <!-- Course -->
          <div class="title-item" routerLink="/videoList">
            <img class="image-item" src="assets/img/logo-financeFlix150x150.png" alt="Curso">
            <div class="items">
              <div class="left-side">
                <h2>Nome do Curso</h2>
                <ul class="infos">
                  <li class="video-qtn"> 3 Videos </li>
                </ul>
                <ul>
                  <li>{{item.nome}}</li>
                </ul>
              </div>
            </div>
          </div>
        </li>

      </div>

    </div>

  </div>

</body>

<app-footer-login> </app-footer-login>
