<app-header-create-account> </app-header-create-account>

<body>
  <div class="wrapper">
    <form (ngSubmit)="createAccount()" [formGroup]="form">

      <h1>Criar Conta</h1>
      <br>

      <!-- Foto -->
      <div>
        <label for="picture">Escolha uma foto para o perfil</label>
        <input type="file" id="picture" name="picture" accept="image/*" formControlName="picture" (change)="onFileSelected($event)">
      </div>

      <!-- Nome -->
      <div class="input-box">
        <input type="text" placeholder="Nome" formControlName="name">
      </div>
      <!-- Email -->
      <div class="input-box">
        <input type="email" placeholder="Email" formControlName="email">
      </div>
      <!-- Senhas -->
      <div class="input-box">
        <input id="passwordOne" name="passwordOne" type="password" placeholder="Senha" formControlName="passwordOne">
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirme a Senha" formControlName="passwordTwo">
      </div>

      <!-- Tipo-->
      <div class="input-box">
        <select class="roles" formControlName="role">
          <option value="c">Criador de Conteúdo</option>
          <option value="s">Aluno</option>
        </select>
      </div>

      <button type="submit" class="standard-btn"> Criar Conta </button>

    </form>
  </div>
</body>

<app-footer-login> </app-footer-login>
