* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
position: fixed;
height: auto;
left: 30px;
top: 5px;
width: 100px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.buttons {
  margin-left: auto;
}

.standard-btn{
  width: 100px;
  height: 35px;
  background: #87BEFF;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-right: 10px;
  margin-top: 10px;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-right: auto;
}


h1{
  color: #fff;
  font-size: 40px;
  margin-top: 5px;
  margin-left: 15px;
}
