<app-header-login> </app-header-login>

<body>
  <div class="wrapper">
    <form (ngSubmit)="login()" [formGroup]="form">

      <!-- Título -->
      <h1>Login</h1>

      <!-- Email -->
      <div class="input-box">
        <input type="email" placeholder="Email" formControlName="email">
        <i class='bx bx-user-circle' style='color:#87BEFF'></i>
      </div>

      <!-- Senha -->
      <div class="input-box">
        <input type="password" placeholder="Senha" required formControlName="password">
        <i class='bx bxs-lock-open-alt' style='color:#87BEFF'></i>
      </div>

      <!-- Lembrar senha -->
      <div class="remember-forget">
        <label><input type="checkbox" formControlName="remember"> Lembre-se de mim</label>

        <!-- Atalho Esqueceu a senha -->
        <a href="#">Esqueceu sua senha?</a>
      </div>

      <button type="submit" class="standard-btn"> Entrar </button>

      <!-- Criar conta atalho formulário -->
      <div class="criar-conta">
        <a href="create-account">Criar uma conta</a>
      </div>

    </form>
  </div>
</body>
